html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
}


.MuiAppBar-root{
    height: 60px;
}

.icon{
    float: right;
    height: 48px;
    color:white;
}

#titleShop{
    text-decoration: none;
    color:white;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ProductDiv{
    width: 250px;
}

#ProductImg{
    object-fit: contain;
    width: 100%;
    height: 180px;
}



#categoryList div{
    margin-right: 40px;
    height: 70px;
}

#productDetail{
    width:300px;
}

#productDetail h1{
    font-size: 42px;
    text-align: center;
}
#productDetail p{
    font-size: 26px;
    text-align: center;
}

#productDetailImg{
    border: 2px solid black;
    right: 0px;
}